In [1]:
"""Contains functions for facilitating the Liver Metabolism case study."""

import pandas as pd

from six import iteritems

import sympy as sym

#from mass import MassMetabolite
#from mass.enzyme_modules import (
    #EnzymeModule, EnzymeModuleForm, EnzymeModuleReaction)
#from mass.io.json import load_json_model
#from mass.util.expressions import strip_time

In [2]:
# This takes in the file name (filepath) and sheet name to then extract data to then 
def load_data(filepath, sheet_name):
    """Load Liver data from an excel sheet"""
    df = pd.read_excel(
        io=filepath,
        sheet_name=sheet_name,
        index_col=0)
    df = df.drop("Additional Notes", axis=1)
    df = df.drop("Name", axis=1)
    return df

In [4]:
conc_df = load_data("1.2-ma-data-collection.xlsx", "Concentrations")
conc_df

           Concentration (mM)
ID
13dpg_c                   NaN
2amac_c                   NaN
2pg_c                0.110561
3haACP_c                  NaN
3hbcoa_m                  NaN
...                       ...
udp_c                0.315888
udpg_c               0.679781
urea_c              31.939803
utp_c                0.882147
xu5p__D_c            0.042703

[179 rows x 1 columns]